.subAppContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-family: 'Merriweather Sans', sans-serif;
}

.formContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6%;
    height: 80vh;
    background-image: linear-gradient(#F8ECD1, #DEB6AB);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.err {
    color: red;
    font-size: .6rem;
}

.inputContainer {
    line-height: 8px;
}

.inputSubContainer {
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: .5rem;
    background-color: #ffffff;
}


.input {
    border: 0;
    outline: none;
    width: 100%;
}

i {
    margin: 1% 3%;
}

.dobInput {
    background-color: #ffffff;
    color: black;
    border-width: 0px;
    border: none;
    outline: none;
    width: 60%;
}

select {
    background-color: #ffffff;
}

.checkboxSubContainer{
    display: flex;
    align-items: center;
    line-height: 13px;
}

.ageCnt {
    line-height: normal;
}

.age {
    font-size: clamp(.8rem, 1vw, 1rem);
    margin-left: 10%;
}

.checkboxLabel{
    margin-left: 5%;
    margin-top: 3%;
    color: black;
    font-size: clamp(.9rem, 1vw, 3rem);
}

.signUpImage {
    display: none;
    width: 60%;
    height: 100%;
}

.submitBtn {
    background-color: green;
    color: #ffffff;
    width: 30%;
    padding: 1.5%;
    border: 0px;
    border-radius: 1rem;
}

@media screen and (min-width: 770px) {
    .signUpImage {
        display: inline-block;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: 100%;
        width: 45%;
    }


}

.alineColumn{
    display: flex;
    flex-direction: column;
    line-height: 13px;
}