/* *{
  outline: 1px solid red;
} */

.row{
  padding-right: 0;
  margin-right: 0;
}


.imgSize{
  width: 45%;
}

.fontSize{
  font-size: clamp(.5rem, 1vw, 3rem);
}

.jstCntArnd{
  justify-content: space-around;
}

/* HOME */

.homeContainer{
  text-align: center;
  min-height: 88vh;
  font-size: 100%;
  /* font-size: clamp(1rem, 3vw, 5rem); */
  background-image: url('https://blog.digitalsevaa.com/wp-content/uploads/2021/07/online-buying-1625209658854.png');
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}


.decCard{
  background:#ffffff;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
max-height: 40%;
}


/* No data */

.nodata{
  background-image: url('https://cdn.dribbble.com/users/1372590/screenshots/3569736/media/ff0942006e3927a25ca164770cf37e37.jpg');
  min-height: 90vh;
  background-size:cover;
  background-position: 50% 55%;
  background-repeat: no-repeat;
}

.App{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #c1d3c7,#c0d0c4);
}

.errPage{
  min-height: 88vh;
}

.backBtn{
  height: 3rem;
  width: 5rem;
  font-size: 1.5rem;
  
}

.size{
  font-size: 250%;
}

.desc{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18ch;
}

.imageSize{
  width: 50vw;
}

.cardCont{
  width:75vw
}

@media screen and (min-width:768px){
  .nodata{
    min-height: 93.5vh;
  }

  .homeContainer{
    min-height: 93.5vh;
  }

  .errPage{
    min-height: 93.5vh;
  }

  .imageSize{
    width: 25vw;
  }

  .cardCont{
    width:75vw
  }
}

